body {
  font-family: "Plus Jakarta Sans", serif;
  overflow-x: hidden;
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;

}


.width-75 {
  width: 75%;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
}

.fs-48 {
  font-size: 48px;
  font-weight: 800;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-40 {
  font-size: 40px;
}

.fs-50 {
  font-size: 50px;
}

.fs-60 {
  font-size: 60px;
}

.bg-linear {
  background: linear-gradient(129deg,
      rgba(0, 0, 0, 1) 75%,
      rgba(87, 43, 129, 1) 100%,
      rgba(86, 26, 88, 1) 100%);
}

.bg-image-linear {
  background-image: url(../image/Desktop-3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.text-color {
  color: #6f35ad;
}

.text-color-one {
  color: #d70adf;
}

.text-size {
  font-size: 65px;
}

.navbar-brand {
  font-weight: bold;
  color: #e6e6e6;
}

.navbar-nav .nav-link {
  color: #e6e6e6;
}

.mt-8 {
  margin-top: 4rem;
}

.navbar-nav .nav-link:hover {
  color: var(--Primary-P6---BASE, #d60bde);
}

.navbar-nav .nav-item {
  margin-inline: 5px;
}

.navbar-nav .nav-link {
  font-weight: 500;
}

.navbar-nav .active {
  color: var(--Primary-P6---BASE, #d60bde) !important;
}

.btn-login {
  background: #343a40b3 !important;
  color: white !important;
  border: none;
  border-radius: 50px;
  padding: 10px 23px;
}

.login-hover:hover {
  background: linear-gradient(80deg,
      rgba(42, 13, 45, 1) 0%,
      rgba(214, 11, 222, 1) 45%) !important;
  transition: all 0.5s ease-in-out;
  border-radius: 50px;
  padding: 10px 23px;
}

.btn-started:hover {
  background-color: rgb(68, 66, 66) !important;
  border-radius: 50px;
  padding: 10px 23px;
  color: white;
}


.btn-get-started-shop {
  background-color: rgb(68, 66, 66);
  border-radius: 50px;
  padding: 10px 23px;
  color: white;
  font-size: 14px;
}

.shop-hover:hover {
  background: linear-gradient(80deg,
      rgba(42, 13, 45, 1) 0%,
      rgba(214, 11, 222, 1) 45%);
  color: white !important;
  border-radius: 50px;
  padding: 10px 23px;
}

.btn-get-started-promotion {
  background: linear-gradient(80deg,
      rgba(42, 13, 45, 1) 0%,
      rgba(214, 11, 222, 1) 45%);
  color: white !important;
  border-radius: 50px;
}

.btn-get-started {
  background: linear-gradient(80deg,
      rgba(42, 13, 45, 1) 0%,
      rgba(214, 11, 222, 1) 45%);
  color: white;
  border-radius: 50px;
  padding: 10px 23px;
}

.btn-get-started:hover {
  background: #343a40b3;
  /* transition: all 0.5s ease-in-out; */
  border-radius: 50px;
  padding: 10px 23px;
  color: white;
}

.text-gradient {
  background: linear-gradient(90deg, #d20bd2, #55057e);
  background-clip: text;
  color: transparent;
}

.btn-get-started {
  background: linear-gradient(90deg, #cc33cc, #660099);
}

.animation-img-1 {
  animation: shape1 8s linear infinite;
}

.animate-img-2 {
  animation: shape2 22s infinite alternate;
  transform: translate(-50%, -50%);
}

.animation-img-3 {
  animation: shape1 8s linear infinite;
}

.animate-img-4 {
  animation: shape1 8s infinite alternate;
  /* transform: translate(-50%, -50%); */
}

@keyframes shape2 {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(-180px, -180px) rotate(360deg);
  }
}

@keyframes shape1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.search-container {
  background-color: #31223A;
  border: 4px solid #21132A !important;
  border-radius: 50px;
}

.search-container input {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  flex: 1;
}

.search-container input::placeholder {
  color: #aaa;
}

.search-container button:hover {
  background-color: #9200e5;
}

.paragraf-width p {
  color: #a8aebf;
  font-size: 18px;
  font-weight: 400;
}

/* animation seconde section  */
.animate-marquee {
  animation: marquee 16s linear infinite;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.business-card {
  background: #363636;
  padding: 3px;
  border-radius: 25px !important;
}

.business-card img {
  height: 300px;
}

.business-card>div {
  background-color: #363636;
  padding: 12px;
}

.business-card:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(80deg,
      rgba(42, 13, 45, 1) 0%,
      rgba(214, 11, 222, 1) 45%);
}

/* .business-card .img-animation>div {
  height: 270px;
  overflow: hidden;
  border-radius: 20px;
} */

.business-card .img-animation {
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  height: 350px;
  transition: ease-in-out 5s;
  border-radius: 25px !important;
  /* Smooth animation added */
}

.business-card .img-animation:hover {

  background-position: left bottom;

  /* Smooth animation added */
}

.business-card:hover .shop-hover {
  background: linear-gradient(80deg,
      rgba(42, 13, 45, 1) 0%,
      rgba(214, 11, 222, 1) 45%);
  color: white !important;
  border-radius: 50px;
  padding: 10px 23px;
}

.bg-img {
  background-image: url("../image/footerBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* section three  */
.bg-light-gray {
  color: #767C8C;
}

.bg-blackrounded {
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-image: url('https://via.placeholder.com/300');
  background-size: cover;
  background-position: center;
}

.bg-section-three {
  background-color: #0f0f0f;
}

.bg-card {
  background-color: #495057;
}

.bg-card-color {
  transition: transform 0.5s ease-in-out;
  background-color: #1f1f1f;
  padding: 25px 20px !important;
  min-height: 205px;
  max-height: 280px;
}

.bg-card-color p {
  color: #A8AEBF;
}

.card .icon {
  font-size: 2rem;
  color: lightseagreen;
}

.card-text {
  color: gray;
}

.card {
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  background: linear-gradient(97.2deg, #330166 -30.23%, #d60bde 94.45%);
  color: #fff;
}

.card:hover .icon svg,
.card:hover .card-text {
  color: #fff;
}

.l-h {
  line-height: 1.56;
}

/* Row and cards */
.row.flex-nowrap {
  display: flex;
  /* Flexbox layout for cards */
  gap: 0.5rem;
  /* Space between cards */
}


.card {
  /* flex: 0 0 22%; */
  /* Make each card occupy about 22% of the container */
  /* max-width: 22%; Ensure cards don't exceed this width */
  box-sizing: border-box;
  /* width: 16.7rem; */
  /* Include padding/border in the width */
  /* width: 16.7rem; */
}

/* .width-card {
  width: 16.7rem !important;
  box-sizing: border-box;
  height: 16.3rem !important;


} */

/* section five  */
.bg-color-change {
  background-color: #0f0018;
}

/* section six  */
.textGray {
  font-weight: 200;
}

.pricing-card {
  background-color: #1f1f1f;
  color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.pricing-card:hover {
  border-radius: 12px;
  background: linear-gradient(to top, black, rgb(54, 5, 54));
}

.pricing-shadow a:last-child button {
  font-size: 14px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* .pricing-shadow{
  border-radius: 8px;
  padding: 2px;
  background: rgb(44, 44, 44);
}

.pricing-shadow:hover {
  padding: 1px;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(
   to right,
    rgb(84, 2, 100), 
    rgb(16, 2, 95) 
  );
} */
.pricing-shadow-no-hover {
  background: rgb(45, 45, 45);
  padding: 1px;
  border-radius: 8px;
}

.pricing-shadow-no-hover:hover {
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(to right,
      rgb(84, 2, 100),
      rgb(16, 2, 95));
}

/* sdfjlsdfs */
/* Default background on hover */
.pricing-shadow {
  border-radius: 12px !important;
  padding: 1px;
  transition: all 0.5s ease-in-out;
  /* background: rgb(36, 35, 35); */
}

.pricing-shadow>.accordion-item {
  overflow: hidden;
  border-radius: 12px !important;
}

.pricing-shadow:hover {
  background: linear-gradient(to right,
      rgb(84, 2, 100),
      rgb(16, 2, 95));
}

/* Active background when accordion is open */
.pricing-shadow:has(.accordion-collapse.show) {
  background: linear-gradient(to right,
      rgb(84, 2, 100),
      rgb(16, 2, 95));
}

/* sdfjlsdfs */

.pricing-card .price {
  font-size: 2.5rem;
  font-weight: 500;
}

.pricing-card {
  font-size: 1.5rem;
}

.pricing-card .features {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.pricing-card .features li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.pricing-card .features li i {
  color: #fff;
  margin-right: 10px;
  background: linear-gradient(97.2deg, #330166 -30.23%, #d60bde 94.45%);
  width: 20px;
  display: flex;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  height: 20px;
  border-radius: 50px;
}

.btn-custom {
  background-color: #333232;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  width: 100%;
  padding: 8px;
  font-weight: normal;
  margin-top: 10px;
}

.textGrey {
  color: rgb(176, 171, 171);
  font-weight: 300;
}

.btn-custom:hover {
  background: linear-gradient(97.2deg, #330166 -30.23%, #d60bde 94.45%);
  color: white !important;
}

.more-features {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}

.more-features .btn {
  color: white;
  gap: 12px !important;
  border: 1px solid rgb(91, 89, 89);
}

/* scetion saveen  */
.scrollable-row-container {
  overflow-x: auto;
  /* Enable horizontal scrolling */
  overflow-y: hidden;
  /* Prevent vertical scrolling */
  white-space: nowrap;
  /* Ensure all cards are in one line */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
  -ms-overflow-style: none;
  /* Hide scrollbar in IE */
}

.scrollable-row-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar in WebKit browsers */
}

.testimonial-card {
  background-color: #1f1f1f;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 22rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-card .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.testimonial-card .profile-info {
  display: flex;
  align-items: center;
}

.testimonial-card .profile-info .name {
  font-size: 1rem;
  font-weight: semibold;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}

.testimonial-card .profile-info .title {
  font-size: 0.7rem;
  color: #a9a9a9;
}

.testimonial-card .stars {
  color: #fcd34d;
}

.testimonial-card .testimonial-text {
  font-size: 0.8rem;
  color: #A8AEBF;
  margin-top: 15px;
  margin-bottom: 0px;
  line-height: 1.5;
  min-height: 75px;
  max-height: 100px;
}

/* section eight  */
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus ' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  color: white;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.accordion-color {
  background-color: #141414;
  /* Set background color */
}

.accordion-body {
  background-color: #141414;
  /* Set background color for accordion body */
  /* color: white; */
  /* Set text color */
}

.accordion-item {
  background: linear-gradient(97.2deg, #330166 -30.23%, #d60bde 94.45%);
  /* Set border color */
}

.accordion-button {
  color: white;
  /* Set text color for button */
  border: none;
}

.accordion-button:focus {
  box-shadow: none;
  /* Remove focus outline */
  background-color: #141414;
}

.accordion-button:not(.collapsed) {
  background-color: #141414;
  box-shadow: none;
}

/* footer  */

footer a {
  text-decoration: none;
}

footer a:hover {
  color: #ddd;
}

footer p {
  margin: 0;
  font-size: 15px;
  color: #a7acba;
  font-weight: 400;
}

footer .container {
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
  padding: 32px;
}

.list-unstyled li a {
  font-size: 15px;
  color: #a7acba !important;
  font-weight: 400;
}

/* offer page start  */
.card-offer {
  background-color: #222222;
}

.card-offer:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to top, rgb(7, 0, 8),
      rgb(40, 4, 41));
}

.fw {
  font-weight: 300;
}

.offer-gray {
  color: #f0f1f5;
}

.btn-top {
  transform: translateY(-13px);
}

.offer-shadow:hover {
  transition: all 0.5s ease-in-out;
  background: linear-gradient(80deg,
      rgba(42, 13, 45, 1) 0%,
      rgba(214, 11, 222, 1) 45%);
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.whatsapp-button img {
  width: 40px;
  height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;

}

.swiper-button-next,
.swiper-button-prev {
  width: 45px !important;
  height: 45px;
  font-size: 22px;
  border-color: #2b2b2b !important;

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .btn-get-started {
    padding: 10px 17px;
  }
}

@media screen and (max-width: 767px) {
  .paragraf-width p {
    font-size: 11px;
  }

  .text-size {
    font-size: 30px;
  }

  .width-75 {
    width: 100%;
  }

  .business-card img {
    height: 100%;
  }

  .fs-48 {
    font-size: 21px;
  }

  .fs-20 {
    font-size: 12px;
  }

  .fs-40 {
    font-size: 20px;
  }

  .testimonial-card {
    width: 18rem;
  }
}


/* up and down image animation  */
.box {
  width: 100px;
  height: 100px;
  background: #000;
}

.up-down {
  animation: up-down linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: up-down linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: up-down linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: up-down linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: up-down linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes up-down {
  0% {
    transform: translate(1px, 20px);
  }

  24% {
    transform: translate(1px, 30px);
  }

  50% {
    transform: translate(1px, 12px);
  }

  74% {
    transform: translate(1px, 22px);
  }

  100% {
    transform: translate(1px, 22px);
  }
}

@-moz-keyframes up-down {
  0% {
    -moz-transform: translate(1px, 20px);
  }

  24% {
    -moz-transform: translate(1px, 30px);
  }

  50% {
    -moz-transform: translate(1px, 12px);
  }

  74% {
    -moz-transform: translate(1px, 22px);
  }

  100% {
    -moz-transform: translate(1px, 22px);
  }
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translate(1px, 20px);
  }

  24% {
    -webkit-transform: translate(1px, 30px);
  }

  50% {
    -webkit-transform: translate(1px, 12px);
  }

  74% {
    -webkit-transform: translate(1px, 22px);
  }

  100% {
    -webkit-transform: translate(1px, 22px);
  }
}

@-o-keyframes up-down {
  0% {
    -o-transform: translate(1px, 20px);
  }

  24% {
    -o-transform: translate(1px, 30px);
  }

  50% {
    -o-transform: translate(1px, 12px);
  }

  74% {
    -o-transform: translate(1px, 22px);
  }

  100% {
    -o-transform: translate(1px, 22px);
  }
}

@-ms-keyframes up-down {
  0% {
    -ms-transform: translate(1px, 20px);
  }

  24% {
    -ms-transform: translate(1px, 30px);
  }

  50% {
    -ms-transform: translate(1px, 12px);
  }

  74% {
    -ms-transform: translate(1px, 22px);
  }

  100% {
    -ms-transform: translate(1px, 22px);
  }
}