.fs-14 {
  font-size: 14px;
}

.fs-48 {
  font-size: 48px;
  font-weight: 800;
}

.fs-20 {
  font-size: 20px;
}

.bg-linear {
  background: linear-gradient(to right,
      #000000,
      #1a001f,
      #330033,
      #4d004d,
      #660066,
      #800080,
      #990099,
      #b300b3,
      #cc00cc,
      #e600e6);
}

.text-color {
  color: #6f35ad;
}

.text-color-one {
  color: #d70adf;
}

.text-size {
  font-size: 64px;
  font-weight: 800;
}

.navbar-brand {
  font-weight: bold;
  color: #e6e6e6;
}

.navbar-nav .nav-link {
  color: #e6e6e6;
}

.navbar-nav .nav-link:hover {
  color: var(--Primary-P6---BASE, #d60bde);
}

.btn-login {
  background: #343a40b3;
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
}

.btn-get-started {
  background: linear-gradient(97.2deg, #330166 -30.23%, #D60BDE 94.45%);
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
}

.btn-get-started:hover {
  background: linear-gradient(97.2deg, #330166 -30.23%, #d60bde 94.45%);
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #2c223c;
  border-radius: 25px;
  padding: 6px 10px;
  width: 485px;
}

.search-container input {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  flex: 1;
}

.search-container input::placeholder {
  color: #aaa;
}

.search-container button {
  background-color: #a900ff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 12px 24px 12px 24px;
  font-weight: 700;
}

.search-container button:hover {
  background-color: #9200e5;
}

.paragraf-width {
  width: 55%;
}

.paragraf-width p {
  color: #A8AEBF;
  font-size: 18px;
  font-weight: 400;
}

/* animation seconde section  */
.animate-marquee {
  animation: marquee 16s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* section three  */
.bg-light-gray {
  color: #A8AEBF;
}

.bg-section-three {
  background-color: #0F0F0F;
}

.bg-card {
  background-color: #495057;
}

.bg-card-color {
  background-color: #1f1f1f;
}

.card .icon {
  font-size: 3rem;
  color: lightseagreen;
}

.card-text {
  color: gray;
}

.card {
  transition: all 0.5s;
}

.card:hover {
  background: linear-gradient(97.2deg, #330166 -30.23%, #D60BDE 94.45%);
  color: #fff;
}

.card:hover .icon svg,
.card:hover .card-text {
  color: #fff;
}

.scrollable-row-container {
  overflow-x: auto;
  /* Enable horizontal scrolling */
  overflow-y: hidden;
  /* Prevent vertical scrolling */
  white-space: nowrap;
  /* Ensure all cards are in one line */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
  -ms-overflow-style: none;
  /* Hide scrollbar in IE */
}

.scrollable-row-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar in WebKit browsers */
}

/* Row and cards */
.row.flex-nowrap {
  display: flex;
  /* Flexbox layout for cards */
  gap: 1rem;
  /* Space between cards */
}

.card {
  flex: 0 0 22%;
  /* Make each card occupy about 22% of the container */
  /* max-width: 22%; Ensure cards don't exceed this width */
  box-sizing: border-box;
  /* Include padding/border in the width */
}

/* section five  */
.bg-color-change {
  background-color: #0f0018;

}